@import "tailwindcss";

@import "@repo/ui/globals.css";

@layer base {
  button {
    cursor: pointer;
  }
}

@layer utilities {
  .container {
    max-width: 1280px;
  }
}

@theme inline {
  --font-sans: var(
    --font-inter,
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  );
  --font-mono: var(
    --font-mono,
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace
  );
}
